<!-- app/views/layouts/_navbar.html.erb -->
<nav class="bg-gray-800 text-white fixed w-full top-0 z-50">
  <div class="container mx-auto flex justify-between items-center p-4">
    <div class="flex space-x-4">
      <div class="text-2xl font-bold">Anime</div>
      <%= link_to 'Animes', animes_path, class: "hover:underline" %>
      <%= link_to 'Types', types_path, class: "hover:underline" %>
      <%= link_to 'Seasons', seasons_path, class: "hover:underline" %>
      <%= link_to 'Heats', heats_path, class: "hover:underline" %>
      <%= link_to 'About', about_path, class: "hover:underline" %>
    </div>
    <div>
      <%= form_with url: search_animes_path, method: :get, local: true, class: "flex items-center" do %>
        <input type="text" name="query" placeholder="Search..." class="p-2 rounded-l">
        <select name="type_id" class="p-2">
          <option value="">All</option>
          <% Type.all.each do |type| %>
            <option value="<%= type.id %>"><%= type.name %></option>
          <% end %>
        </select>
        <button type="submit" class="bg-blue-500 text-white p-2 rounded-r">Search</button>
      <% end %>
    </div>
  </div>
</nav>
